<!DOCTYPE html>
<html lang="zh" class="no-js the-fixed-layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content="oms">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>测试页</title>

</head>

<body class="the-table-wrap the-scrollbar">
<i class="fa fa-qrcode" aria-hidden="true"></i>
</body>

</html>